#sidebar.navbar-collapse.collapse
	ul.nav.nav-list(style='height: auto;')
		li
			form.search-form(target='#', method='GET')
				span.search-pan
		li
			a.dropdown-toggle(href='#')
				i.icon-desktop
				span Thông tin và tin tức
				b.arrow.icon-angle-right
			ul.submenu
				li
					a(href='/listnewsch') Thông tin sản phẩm
				li
					a(href='/listcity') Thông tin dinh dưỡng
				li
					a(href='/listcity') Tips chăm sóc bé
		li
			a.dropdown-toggle(href='/listm365')
				i.icon-edit
				span 365 Món ăn dặm
		li
			a.dropdown-toggle(href='#')
				i.icon-desktop
				span Giải trí
				b.arrow.icon-angle-right
			ul.submenu
				li
					a(href='/listvideocate') Danh mục giải trí
				li
					a(href='/listvideo') Thông tin giải trí
		li
			a.dropdown-toggle(href='#')
				i.icon-desktop
				span Học tập
				b.arrow.icon-angle-right
			ul.submenu
				li
					a(href='/listlearncate') Danh mục học tập
				li
					a(href='/listlearn') Góc học tập
		li
			a.dropdown-toggle(href='#')
				i.icon-list
				span Statistics
				b.arrow.icon-angle-right
			ul.submenu
				li
					a(href='/rptuserbymonth') By Month
				li.active
					a(href='/rptuserbyyear') By Year
				li
					a(href='/rptuserbycity') By City
	#sidebar-collapse.visible-lg
		i.icon-double-angle-left