extends ../layout

block content
	#main-content
		.row
			.col-md-12
				.box.box-orange
					.box-title
						h3
							i.icon-file
							| Edit Food Sub Category
						.box-tool
							a(data-action="collapse", href="#")
								i.icon-chevron-up
							a(data-action="close", href="#")
								i.icon-remove
					.box-content
						form(action="/addfoodsubcate", class="form-horizontal", method="POST", enctype="multipart/form-data", id="addNewsForm")
							.form-group
								label.col-sm-3.col-lg-2.control-label ID
								.col-sm-9.col-lg-10.controls
									input.form-control#code(type='text', value='', name ="code", tabindex='1')
									input.form-control#typeSubmit(style='display:none;', type='text', value='Jack', name ="typeSubmit")
									input.form-control#foodsubcateid(style='display:none;', type='text', value=foodsubcateid, name ="foodsubcateid")
							.form-group
								label.col-sm-3.col-lg-2.control-label Tên
								.col-sm-9.col-lg-10.controls
									input.form-control#name(type='text', value='', name ="name", tabindex='2')
							.form-group
								label.col-sm-3.col-lg-2.control-label Danh mục
								.col-sm-9.col-lg-10.controls
									select#foodcate.form-control.chosen.chzn-done(data-placeholder='Choose a category', tabindex='3', style='', name ="foodcate")
										option(value='4') Bữa ăn
										option(value='5') Cách nấu
										option(value='6') Độ tuổi
										option(value='7') Nguyên liệu chính
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									#imageloadstatus(style='display: none;')
										img(src='/images/loader.gif', alt='Uploading....')
									#imageloadbutton
										input#photoimg(type='file', name='photos[]', multiple='true', tabindex='4')
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									#listImage
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									button.btn.btn-primary(type='submit',id = "btnSave", tabindex='5') Submit
									button.btn(type='button', id = "btnCancel", tabindex='6') Cancel
block scripts
	//script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places")
	script(src='/vendor/jquery.form.js')
	script(src='/javascripts/foodsubcate.js')
