extends ../layout

block content
	#main-content
		.row
			.col-md-12
				.box.box-orange
					.box-title
						h3
							i.icon-file
							| Edit Food
						.box-tool
							a(data-action="collapse", href="#")
								i.icon-chevron-up
							a(data-action="close", href="#")
								i.icon-remove
					.box-content
						form(action="/addm365", class="form-horizontal", method="POST", enctype="multipart/form-data", id="addItemForm")
							.form-group
								label.col-sm-3.col-lg-2.control-label Tên
								.col-sm-9.col-lg-10.controls
									input.form-control#name(type='text', value='', name ="name", tabindex='1')
									input.form-control#typeSubmit(style='display:none;', type='text', value='Jack', name ="typeSubmit")
									input.form-control#itemid(style='display:none;', type='text', value=itemid, name ="itemid")
							.form-group
								label.col-sm-3.col-lg-2.control-label Bữa ăn
								.col-sm-9.col-lg-10.controls
									select#meals.form-control.chosen.chzn-done(data-placeholder='Choose a category', tabindex='2', style='', name ="meals")
										option(value='1') Sáng
										option(value='2') Trưa
										option(value='3') Xế
										option(value='4') Tối
							.form-group
								label.col-sm-3.col-lg-2.control-label Cách nấu
								.col-sm-9.col-lg-10.controls
									input.form-control#cook(type='text', value='', name ="cook", tabindex='3')
							.form-group
								label.col-sm-3.col-lg-2.control-label Độ tuổi
								.col-sm-9.col-lg-10.controls
									input.form-control#age(type='text', value='', name ="age", tabindex='4')
							.form-group
								label.col-sm-3.col-lg-2.control-label Nguyên liệu chính
								.col-sm-9.col-lg-10.controls
									input.form-control#mainmaterial(type='text', value='', name ="mainmaterial", tabindex='4')
							.form-group
								label.col-sm-3.col-lg-2.control-label Mô tả
								.col-sm-9.col-lg-10.controls
									textarea.form-control#description(rows='6', name = "description", tabindex='2')
							.form-group
								label.col-sm-3.col-lg-2.control-label Nguyên liệu
								.col-sm-9.col-lg-10.controls
									textarea.form-control#material(rows='6', name = "material", tabindex='2')
							.form-group
								label.col-sm-3.col-lg-2.control-label Cách làm
								.col-sm-9.col-lg-10.controls
									textarea.form-control#method(rows='6', name = "method", tabindex='3')
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									#imageloadstatus(style='display: none;')
										img(src='/images/loader.gif', alt='Uploading....')
									#imageloadbutton
										input#photoimg(type='file', name='photos[]', multiple='true', tabindex='4')
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									#listImage
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									button.btn.btn-primary(type='submit',id = "btnSave", tabindex='5') Submit
									button.btn(type='button', id = "btnCancel", tabindex='6') Cancel
block scripts
	//script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places")
	script(src='/vendor/jquery.form.js')
	script(src='/javascripts/m365.js')
